#selection-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#selection-info {
  color: darkorange;
  font-family: 'Courier New', Courier, monospace;
  width: 400px;
  text-align: center;
}

#select-project-form {
  display: flex;
  justify-content: center;
}

#select-project-input {
  height: 30px;
  width: 200px;
  border-radius: 4px 0 0 4px;
}

#select-project-input:focus, #select-project-input:hover {
  border-radius: 4px 0 0 4px;
  box-shadow: 0 0 5px 0 navy;
  outline: none;
}

#select-project-submit {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  width: 100px;
  background-color: #5897fb;
  color: white;
  border-radius: 0 4px 4px 0;
}

#select-project-submit:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 0 navy;
}