<div id="create-hook-container">
  <h2 id="create-hook-title">Click to add the needed webhook to your project</h2>
  <form id="webhook-form" action="/assignment/webhook/webhook-auth" method="post">
    <input type="hidden" name="proj_id" value="{{project_id}}">
    <input id="create-webhook-button" type="submit" value="Create Webhook">
  </form>
</div>
