<div id="home-container">
  {{#if enabled}}
    <h1 class="title-home">HI USER</h1>
    <h2 class="info-home">CHECK YOUR GITLAB ISSUES BY TRACKING ONE OF YOUR PROJECTS</h1>
  {{else}}
    <h1 class="title-home">HI THERE</h1>
    <h2 class="info-home">TO DO ANYTHING YOU GOTTA LOGIN</h2>
  {{/if}}
</div>
