<div id="selection-container">
  <h1 id="selection-info">SELECT A PROJECT THAT YOU WANT TO TRACK</h1>
  <form id="select-project-form" action="/assignment/find-issue" method="post">
    <input id="select-project-input" type="number" name="proj_id" placeholder="PROJECT ID" required>
    <input id="select-project-submit" type="submit" value="view">
  </form>
</div>